# APP
APP_NAME=CESVI
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

# DATABASE (Supabase PostgreSQL)
DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-password
MAIL_ENCRYPTION=tls

JWT_SECRET=your-jwt-secret-here

FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=encuesta-cesvi-dev

# URLs de archivos
FILES_BASE_URL=http://localhost:8000/storage