# APP
APP_NAME=CESVI
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

# DATABASE
DB_CONNECTION=mysql
DB_HOST=bck017.cesvimexico.com.mx
DB_PORT=3306
DB_DATABASE=bd_seg_vial_ia_tec_mty
DB_USERNAME=usrsegvtecmty
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-password
MAIL_ENCRYPTION=tls

JWT_SECRET= "EXECUTE COMMAND php -r "echo base64_encode(random_bytes(32));""

FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=encuesta-cesvi-dev

FILES_BASE_URL=http://localhost:8000/storage

AWS_REGION = "us-east-2"
AWS_BUCKET_NAME = "ai-vel-bucket"
AWS_S3_PREFIX = "Images"

#Se obtienen tras llevar a cabo los pasos descritos en la sección "Creación de un rol en IAM" de la guía de despliegue.
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""

# URL base para acceder a los objetos almacenados en el bucket de S3 (sin slash al final)
AWS_PUBLIC_BASE_URL = ""

# Configuración de permisos para los objetos subidos a S3 (p. ej., "public-read" para acceso público)
#Es opcional, puede estar vacío.
AWS_OBJECT_ACL = ""

# Tiempo de expiración para las URLs firmadas (en segundos)
AWS_PRESIGNED_UPLOAD_EXPIRES = 900